= stylesheet_link_tag "players/via_js_left", :media => "all"

.margin_bottom_40
  %h2 Playlist Player with Custom Playlist on the Left
  Main features used on this page:
  %ul
    %li multiple jwPlayers are used here
    %li
      parsing playlist
      = link_to 'RSS(XML) from zype.com', 'https://rss.zype.com/videos?active=true&api_key=QprlJOX1HTL02gc35swumuuJmVwvjHH8Avt2-6P_ASRvGDSY6n5iXY6j6RaFp1mh', :target => '_blank'
      , with jQuery
    %li
      zype.com RSS doesn't have standard
      %i media
      tag with video file name. Instead
      %i embed code
      (with link to JS script, which loads the player with video) will be used to play videos
    %li
      making from parsed data a
      %i custom playlist
      on left side of the page
    %li
      %i custom playlist
      items are rendered dynamically, using small
      = link_to 'template engine', 'https://github.com/yuriyshtybel/test/blob/master/app/assets/javascripts/tmpl.js', :target => '_blank'
      and
      = link_to 'HAML template file', 'https://github.com/yuriyshtybel/test/blob/master/app/views/templates/_playlist_item.html.haml', :target => '_blank'
    %li
      %i custom playlist
      highlights actively playing video
    %li
      %i custom playlist
      can switch videos when you click playlist items
    %li
      videos from
      %i custom playlist
      are played one after another (handled by jQuery script which binds jwPlayer events to switch to next video)

  Conclusions:
  %ul
    %li this is not a standard playlist from jwPlayer, instead video players on the right side are always changing each other (multiple players)
    %li
      this page differs from
      %b via JS
      page only with CSS styles

#playlist
  %ul
#player

= render :partial => 'templates/playlist_item'

= javascript_include_tag "tmpl"
= javascript_include_tag "players/via_js_left"
