= stylesheet_link_tag "playlist", :media => "all"
= stylesheet_link_tag "players/via_js", :media => "all"

#player
#playlist
  %ul

= render :partial => 'templates/playlist_item'

= javascript_include_tag "tmpl"
= javascript_include_tag "players/via_js"
